{
  "parser": "@typescript-eslint/parser",
  "plugins": ["no-unused-expressions"],
  "rules": {
    "no-unused-expressions": [
      "warn",
      { "allowShortCircuit": true, "allowTernary": true }
    ]
  }
}
