.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #6E8898;
}

.logo {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: 30px;
}

.header {
  margin-bottom: 40px;
}

.productImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
}

.productSection {
  margin-bottom: 40px;
}

.productTitle {
  font-size: 24px;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.productBox {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #FCDEBE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCDEBE;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; 
}

.linkButton {
  text-decoration: none;
  color: #fff;
  background-color: #C73E1D;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  margin-left: 10px;
  font-size: 14px;
  text-decoration: underline;
}

.linkButton:hover {
  background-color: #9C2C0E;
  color: #fff;
}

.linkButton:active {
  background-color: #E6C79D;
  color: #000;
  border: #E6C79D
}

.productPrice {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.productButton{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #C73E1D;
  transition: 0.3s;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.productButton:hover, .productButton:focus, .productButton:active {
  background-color: #9C2C0E;
  color: #fff;
}

.productButton:active {
  background-color: #6E8898;
  color: #000;
  border: #C73E1D
}

