.profilecard {
    background-color: #7C0101;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 539.2px;
    transform: translateY(-4%);
}

.coverContainer {
    display: flex;
    flex-direction: column;
    background-color: #7C0101;
    align-items: center;
}

.coverContainer2 {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 10%;
    gap: 6px;
    transform: translateX(150%);
}

.coverimage {
    border-radius: 30px;
    width: 691px;
    height: 205px;
}

.coverfrase {
    background: transparent;
    
    color: #F0E7DE;
}

.botaocapa {
    background: transparent;
    background-image: url(../images/iconpencil.png);
    border: none;
    width: 22.5px;
    height: 22.5px;
    background-repeat: no-repeat;
}

.perfilcontainer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    transform: translateY(-50%);
}

.perfilcontainer2 {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
}

.profileimage{
    height: 160px;
    width: 160px;
    border-radius: 80px;
}

.perfilfrase {
    background: transparent;
    
    color: #F0E7DE;
}

.botaoperfil {
    background: transparent;
    background-image: url(../images/iconpencil.png);
    border: none;
    width: 22.5px;
    height: 22.5px;
    background-repeat: no-repeat;
}

.nomecontainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    gap: 10px;
    background-color: #7C0101;
    transform: translateY(-200%);
}

.nomefrase {
    background-color: transparent;
    color: #F0E7DE;
}

.nomeusuario {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(189, 188, 188, 0.807);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.botaonome {
    background: transparent;
    background-image: url(../images/iconpencil.png);
    border: none;
    width: 22.5px;
    height: 22.5px;
    background-repeat: no-repeat;
}

.biocontainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #7C0101;
    transform: translateY(-70%);
}

.bioo {
    background-color: transparent;
    
    color: #F0E7DE;
}

.bio {
    position: relative;
    background-color: rgba(189, 188, 188, 0.807);
    border-radius: 5px;
    height: fit-content;
    width: 400px;
}

.botaobio {
    background: transparent;
    background-image: url(../images/iconpencil.png);
    border: none;
    width: 22.5px;
    height: 22.5px;
    background-repeat: no-repeat;
}

.botaoconfirmar {
    height: 47px;
    width: 182px;
    border-radius: 35px;
    padding: 7px;
    font-weight: bold;
    background-color: transparent;
    box-shadow: 0 0 10px black;
    color: #F0E7DE;
    border-color: #F0E7DE;
    transform:translateY(50%)
}

