@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333333;
  background-color: #F0E7DE;
  font-size: 16px;
}

.restaurant-list{
    margin: 30px;

    border: 6px solid #B92727;
    border-radius: 20px;

    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.category{
    padding: 10px;
    background-color: #B92727;
    color: #F0E7DE;
}

.restaurant-list h2{
    font-size: 20px;
}

.restaurants-page{
    max-width: 800px;
    margin: 40px auto;
}

.restaurant-preview{
    padding: 10px 16px;
    border-top: 6px solid #B92727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

#restaurant-img-preview{
  width: 110px;
  height: 110px;
  border-radius: 50%;
 }

 #preview-description{
  margin-left: 20px;
 }

.simple-button {
  padding: 0.7em 1.2em;
  width: 200px;
  border: none;
  border-radius: 0.5em;
  color: #333333;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

#create-button{
  background-color: #5eb5fc;
}

#create-button p{
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#create-button:hover{
  background-color: #3793df;
}

#delete-button{
  background-color: #f66645;
  margin: 30px;
}

#delete-button p{
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#delete-button:hover{
  background-color: #d63d1b;
}

.link{
  text-decoration: none;
}

.view-button {
    position: relative;
    padding: 0.7em 1.2em;
    background-color: #F09682;
    width: 80px;
    border: none;
    border-radius: 0.5em;
    color: #333333;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    text-align: center;
}

  .view-button p{
    background-color: #F09682;
    text-decoration: none !important; 
    font-weight: bold;
  }
  
  .view-button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #F0E7DE 0%, #F0E7DE 50%, #F09682 50%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  .view-button:hover::before {
    width: 1.6em;
    height: 1.6em;
  }
  
  .view-button:active,
  .create-button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }

.restaurant-actions{
    margin: auto;
    margin-bottom: 50px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 700;
}

#edit-page{
  color: #506d85;
  font-size: 20px;
  text-decoration: none;
}

#create-review{
  color: #1376c6;
  font-size: 20px;
  text-decoration: none;
}

#reviews-page{
  color: #b43d2b;
  font-size: 20px;
  text-decoration: none;
}

.restaurant-details{
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: none;
    
}

#restaurant-cover{
  height: 250px;
  width: 100vw;
  background-color: #3793df;
}

#formpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }

 #address-title{
  background-color: #f9f9f9;
 }
 
 #formpage form {
  padding-top: 20px;
  box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Set a max width to prevent the form from becoming too wide on large screens */
  margin-bottom: 20px;
  background-color: #f9f9f9;
 }
 
 #formpage div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: #f9f9f9;
 }
 
 #formpage label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
 }
 
 #formpage input[type="text"],
 #formpage input[type="number"]{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20rem;
  max-width: 20rem; /* Limit the width of input fields */
  background-color: #f9f9f9;
 }

 #formpage input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  max-width: 23rem; /* Limit the width of input fields */
  background-color: #f9f9f9;
  cursor: pointer;
  /* font-size: 13px; */
 }
 
 #formpage button {
  margin: 20px;
 }

 #restaurant-img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
 }

 #img-and-description{
  display: flex;
  align-items: center;
 }

 .map{
  width: 600px;
  height: 300px;
  border-radius: 15px;
  border: solid 3px ;
 }

#add-and-map{
  width: 600px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#address{
  margin-bottom: 20px;
}

#restaurant-name{
  font-size: 26px;
}

#img-and-data{
  display: flex;
}

#restaurant-main-data{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  height: 100px;
}

#restaurant-site{
  color: #d63d1b;
}

.restaurant-atribute{
  font-weight: 900;
  font-size: 18px;
}