.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  input[type="radio"] {
    display: none;
  }
  .star {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
  }

  .little-star {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 5px;
  }